.teachers-grid {
    display: grid;
    grid-template-columns: auto;
    background-color: rgba(250, 250, 250, 0.9);
    grid-gap: 5px;
    grid-auto-columns: auto;
}

.grid-item-1 {
    grid-column: span 2;
}